<h2>Por Region</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <!--
    <shared-search-box (onValue)="searchByRegion($event)" placeholder="Busqueda por region">
    </shared-search-box>
    -->
    <button *ngFor="let region of regions" class="btn mx-2" (click)="searchByRegion(region)"
      ngClass="{{ region === selectedRegion ? 'btn-primary' : 'btn-outline-primary' }}">
      {{ region }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-country-table [countries]="this.countries"></countries-country-table>
  </div>
</div>
