<h1>Listado de heroes</h1>


<!-- NG TEMPLATE INSTEAD VALIDATE TWO TIMES -->
<h3 *ngIf="deletedHero; else nothingWasDeleted">Heroe borrado <small class="text-danger"> {{ deletedHero }} </small></h3>
<!--
<h3 *ngIf="!deletedHero">No he borrado nada </h3>
-->

<ng-template #nothingWasDeleted>
  <h3>No he borrado nada.</h3>
</ng-template>


<button
  *ngIf="heroNames.length > 0"
  class="btn btn-danger"
  (click)="removeLastHero()">Borrar ultimo Heroe</button>

<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let hero of heroNames">
      <strong>{{ hero }}</strong>
  </li>
</ul>

